################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PayRoll/.vs/PayrollManager/v15/Server/sqlite3
